* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#container .row {
  margin-top: 30px;
}

.row .item {
  display: inline-block;
  position: relative;
}

.row .item .discount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
}

.row .item .big {
  background-color: green;
}

.row .item .small {
  background-color: red;
}

.row .item .heart {
  display: none;
  color: red;
  font-size: 30px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}

.item:hover .heart {
  display: block;
}
